<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />-->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <jmxConfigurator/>
    <!-- set general log patterns to be used by all modules -->
    <property scope="context" name="log.pattern" value="%d{HH:mm:ss.SSS}-%.-1level-[%thread] %logger{0} - %msg%n"/>
    <property scope="context" name="log.pattern.mdc" value="%d{HH:mm:ss.SSS}-%.-1level-[%thread] %msg%n"/>

    <!-- read module property file supplied via -D tag and set properties to local variables -->
    <property scope="context" name="MAX_HISTORY" value="10"/>
    <property scope="context" name="MAX_FILE_SIZE" value="50MB"/>
    <property scope="context" name="TOTAL_FILE_SIZE" value="15GB"/>
    <property scope="context" name="FILE_EXTENSION" value="log"/>
    <property scope="context" name="log.directory" value="D:/IntherLC/cbs"/>
    <property scope="context" name="log.stdout.fileName" value="cbs.out"/>
    <property scope="context" name="log.stderr.fileName" value="cbs.err"/>
    <property scope="context" name="log.fileName" value="cbs"/>

    <!-- default standard out appender -->
    <appender name="consoleAudit" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- standard out redirect to file -->
    <appender name="fileAudit" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log.directory}/${log.fileName}.%d{yyyy-MM-dd}.%i.${FILE_EXTENSION}
            </fileNamePattern>
            <!-- each file should be at most ${MAX_FILE_SIZE}, keep ${MAX_HISTORY} days worth of history, but at most ${TOTAL_FILE_SIZE} -->
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_FILE_SIZE}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- standard out redirect to file -->
    <appender name="stdOutRedirectFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log.directory}/${log.stdout.fileName}.%d{yyyy-MM-dd}.%i.${FILE_EXTENSION}
            </fileNamePattern>
            <!-- each file should be at most ${MAX_FILE_SIZE}, keep ${MAX_HISTORY} days worth of history, but at most ${TOTAL_FILE_SIZE} -->
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_FILE_SIZE}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- standard error redirect to file -->
    <appender name="stdErrRedirectFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log.directory}/${log.stderr.fileName}.%d{yyyy-MM-dd}.%i.${FILE_EXTENSION}
            </fileNamePattern>
            <!-- each file should be at most ${MAX_FILE_SIZE}, keep ${MAX_HISTORY} days worth of history, but at most ${TOTAL_FILE_SIZE} -->
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_FILE_SIZE}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- config for logging missing resources -->
    <appender name="resourceBundleFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log.directory}/resourceBundle.%d{yyyy-MM-dd}.%i.${FILE_EXTENSION}</fileNamePattern>
            <!-- each file should be at most ${MAX_FILE_SIZE}, keep ${MAX_HISTORY} days worth of history, but at most ${TOTAL_FILE_SIZE} -->
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_FILE_SIZE}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- config for logging configuration test -->
    <appender name="configurationTestFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log.directory}/configurationTest.%d{yyyy-MM-dd}.%i.${FILE_EXTENSION}</fileNamePattern>
            <!-- each file should be at most ${MAX_FILE_SIZE}, keep ${MAX_HISTORY} days worth of history, but at most ${TOTAL_FILE_SIZE} -->
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_FILE_SIZE}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="configurationTestLog" level="INFO" additivity="false">
        <appender-ref ref="configurationTestFile"/>
        <!--<appender-ref ref="consoleAudit" />-->
    </logger>

    <logger name="stdOutLog" level="INFO" additivity="false">
        <appender-ref ref="stdOutRedirectFile"/>
        <!--<appender-ref ref="consoleAudit" />-->
    </logger>

    <logger name="stdErrLog" level="INFO" additivity="false">
        <appender-ref ref="stdErrRedirectFile"/>
        <!--<appender-ref ref="consoleAudit" />-->
    </logger>

    <logger name="fileAudit" level="INFO" additivity="false">
        <appender-ref ref="fileAudit"/>
        <!--<appender-ref ref="consoleAudit" />-->
    </logger>

    <logger name="org.apache.activemq"
            level="DEBUG" additivity="false">
        <!--<appender-ref ref="consoleAudit" />-->
    </logger>

    <logger name="resourceBundleLog" level="INFO" additivity="false">
        <appender-ref ref="resourceBundleFile"/>
        <!--<appender-ref ref="consoleAudit" />-->
    </logger>

    <logger name="org.hibernate"
            level="DEBUG" additivity="true">
        <!--<appender-ref ref="consoleAudit" />-->
    </logger>

    <!-- This overcomes the proxy narrow log of hibernate -->
    <logger name="org.hibernate.engine.internal.StatefulPersistenceContext" level="ERROR">
        <!--<appender-ref ref="consoleAudit" />-->
    </logger>

    <logger name="org.springframework"
            level="INFO" additivity="false">
        <appender-ref ref="consoleAudit"/>
        <appender-ref ref="fileAudit"/>
    </logger>

    <logger name="com.evil.cbs" level="DEBUG"
            additivity="false">
        <appender-ref ref="consoleAudit"/>
        <appender-ref ref="fileAudit"/>
    </logger>

    <root level="DEBUG">
    </root>
</configuration>