<notifier-container></notifier-container>
<mat-card-content>
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <mat-list layout="column">
      <mat-list-item>
        <mat-form-field>
          <mat-label>Hall</mat-label>
          <mat-select class="form-control" required [(ngModel)]="form.hallId" #hallId="ngModel" name="hallId">
            <mat-option *ngFor="let hall of halls" [value]="hall.id" >
              {{hall.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field class="full-width">
          <mat-label>Movie</mat-label>
          <input matInput type="text" class="form-control" name="name" [(ngModel)]="movie.name" #name="ngModel"
                 required disabled/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field class="full-width">
          <mat-label>Showtime (yyyy-MM-dd@HH:mm)</mat-label>
              <input matInput type="text" class="form-control" name="showTime" [(ngModel)]="form.showTime" #showTime="ngModel"
                     required />
        </mat-form-field>
      </mat-list-item>

    </mat-list>
    <div class="form-group" style="text-align:center;">
      <mat-card-actions style="margin: 0 auto;">
        <button mat-raised-button color="primary" >Add</button>
      </mat-card-actions>
    </div>
  </form>
</mat-card-content>
