<notifier-container></notifier-container>
<mat-card style="margin: 20px;">
  <div class="example-header">
    <button *ngIf="authority === 'admin'" (click)="openAddHallModal()" mat-raised-button color="primary" style="margin-left: auto; margin-right:0;">Add</button>
    <div *ngIf="authority === 'admin'" style="margin-top: 20px"></div>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div >
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let hall"> <div style="margin: 10px">{{hall.name}}</div></mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let hall"><div style="margin: 10px"> {{hall.description}}</div></mat-cell>
      </ng-container>
      <ng-container matColumnDef="numberOfSeats">
        <mat-header-cell *matHeaderCellDef> No. Of Seats</mat-header-cell>
        <mat-cell *matCellDef="let hall"><div style="margin: 10px"> {{hall.numberOfSeats}}</div></mat-cell>
      </ng-container>
      <ng-container matColumnDef="poster">
        <mat-header-cell *matHeaderCellDef> Poster</mat-header-cell>
        <mat-cell *matCellDef="let hall" >
          <div class="mat-cell-center-image" style="margin: 10px;"><img class="small-poster" style="height: 100%; width: 100%; object-fit: contain" src="{{hall.imagePath}}"></div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let hall">
          <button *ngIf="authority === 'admin'" (click)="deleteHall(hall)" mat-raised-button color="accent" style="margin-left: 20px; margin-right:0;">Delete</button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>

</mat-card>
