<notifier-container></notifier-container>
<mat-card style="margin: 20px;">
<div class="example-header">
  <button *ngIf="authority === 'admin'" mat-raised-button color="primary" style="margin-left: auto; margin-right:0;">Add</button>
  <div *ngIf="authority === 'admin'" style="margin-top: 20px"></div>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div >
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="poster">
      <mat-header-cell *matHeaderCellDef> Poster</mat-header-cell>
      <mat-cell *matCellDef="let movie" >
        <div class="mat-cell-center-image" style="margin: 10px;"><img class="small-poster" style="height: 100%; width: 100%; object-fit: contain" src="{{movie.imagePath}}"></div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let movie"> <div style="margin: 10px"> {{movie.name}} </div></mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
      <mat-cell *matCellDef="let movie"> <div style="margin: 10px">{{movie.description}}</div></mat-cell>
    </ng-container>
    <ng-container matColumnDef="imdbRating">
      <mat-header-cell *matHeaderCellDef> IMDB</mat-header-cell>
      <mat-cell *matCellDef="let movie"><div style="margin: 10px"> {{movie.imdbRating}}</div></mat-cell>
    </ng-container>
    <ng-container matColumnDef="duration">
      <mat-header-cell *matHeaderCellDef> Duration</mat-header-cell>
      <mat-cell *matCellDef="let movie"><div style="margin: 10px"> {{movie.movieDuration}}</div></mat-cell>
    </ng-container>
    <ng-container matColumnDef="actors">
      <mat-header-cell *matHeaderCellDef> Actors</mat-header-cell>
      <mat-cell *matCellDef="let movie"><div style="margin: 10px"> {{movie.actors}}</div></mat-cell>
    </ng-container>
    <ng-container matColumnDef="directors">
      <mat-header-cell *matHeaderCellDef> Directors</mat-header-cell>
      <mat-cell *matCellDef="let movie"><div style="margin: 10px"> {{movie.directors}}</div></mat-cell>
    </ng-container>
    <ng-container matColumnDef="sessions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let movie">
        <div style="margin: 10px"><button mat-raised-button color="primary" (click)="viewSessions(movie)" style="margin-left:auto; margin-right:0;">View sessions</button></div>
        <button *ngIf="authority === 'admin'" (click)="deleteMovie(movie)" mat-raised-button color="accent" style="margin-left: 20px; margin-right:0;">Delete</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>

</mat-card>
