<mat-toolbar>
  <span>BOARD</span>
</mat-toolbar>
<mat-tab-group color="accent" [selectedIndex]="1" mat-stretch-tabs>
  <mat-tab label="NEWS">
    <mat-card style="margin: 20px;">

      <mat-grid-list cols="6" rowHeight="2:1" style="margin-bottom: 10px">
        <mat-grid-tile colspan="1" rowspan="1">
          <img src="https://screenshotlayer.com/images/assets/placeholder.png">
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <img src="https://screenshotlayer.com/images/assets/placeholder.png">
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <img src="https://screenshotlayer.com/images/assets/placeholder.png">
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <img src="https://screenshotlayer.com/images/assets/placeholder.png">
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </mat-tab>
  <mat-tab label="MOVIES" active>
    <app-movie-table></app-movie-table>
  </mat-tab>
  <mat-tab label="PROMOTIONS">
    <mat-card style="margin: 20px;">

      <mat-grid-list cols="6" rowHeight="2:1" style="margin-bottom: 10px">
        <mat-grid-tile colspan="1" rowspan="1">
          <img src="https://screenshotlayer.com/images/assets/placeholder.png">
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <img src="https://screenshotlayer.com/images/assets/placeholder.png">
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <img src="https://screenshotlayer.com/images/assets/placeholder.png">
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <img src="https://screenshotlayer.com/images/assets/placeholder.png">
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </mat-tab>
</mat-tab-group>

